/* Banner */
.banner{
    background-image: url(../Assets/Hero-bg.png);
}
.navi{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
}
.btn{
    background-color: #4E47FF;
    color: white;
    border-radius: 10px;
    padding: 12px 36px;
}
.banner-logo{
    font-size: 40px;
    color:  #4E47FF;
}

.banner-title{
    font-size: 65px;
    font-weight: bold;
    color: rgba(37, 36, 50, 1);
    padding-left: 268px;
    padding-right: 268px;
    padding-top: 158px;

    align-items: center;
}
.stay{
    background-color: #4E47FF;
    color: white;
    border-radius: 12px;
    padding: 12px 36px;



}
 /* .stay {
  padding: 6px 12px;
  font-size: 14px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
} */
.banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  padding-bottom: 152px;
}

/* Font */
.inter {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
/* live Action */
.live-action{
    display: flex;
    justify-content: space-between;
    padding-left: 141px;
    padding-right: 159px;
     padding-top: 116px;
    /*padding-bottom: 116px; */
}
.live-title{
    font-size: 42px;
    font-weight: 600;
}
.live-sub-title{
    color: rgba(37, 36, 50, 0.5);
}
.wc-mini{
    border-radius: 48px;
}

/* Active user */


.user-details{
    display: flex;
     justify-content: space-around;
    align-items: center;

}
.users {
  background-color: rgba(78, 71, 255, 0.1);
  border-radius: 24px;
  margin-left: 141px;
  margin-right: 159px;
}

.u-title{
    text-align: center;
    padding-left: 160px;
    padding-right: 142px;
    padding-top: 50px;
    font-size: 38px;
    font-weight: bold;
    color: rgba(37, 36, 50, 1);

}

.shared-color{
    font-size: 80px;
    font-weight: bold;
    color: rgba(78, 71, 255, 1);
}

/* Review section */
.review-content{
    display: flex;
    justify-content: space-around;
    margin-left: 151px;
    margin-right: 149px;
}
/* shared */
.text-item{
    font-size: 30px;
    font-weight: 700;
     padding-left: 24px;
}
 .r-description{
    font-size: 20px;
    font-weight: 300;
    padding-left: 24px;
 }
 .pad{
    padding-left: 24px; 
 }
.user-review {
  display: flex;             
  align-items: center;         
  gap: 15px;                   
}
 .reviewer-name{
     padding-left: 40px;
     font-weight: 700;
     color: rgba(117, 117, 117, 1);
 }

 .r-img{
    border-radius: 100px;
 }
 .date{
    font-size: 20px;
    color: rgba(179, 179, 179, 1);
 }